* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body, input, textarea, button, div, a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
a {
  height: -1px;
}

/*MENU - NAV BAR*/
ul { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--blue-900);
  width: 100%;
}
li { 
  float: left;
}
li a { 
  display: block;
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu a:hover:not(.active) {
  background-color: var(--blue-700);
}

.active {
  background-color: var(--yellow-700);
}

nav.menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
}


/* MAIN */
.main {
  margin: 10px 30px;
  padding-bottom: 6.5rem;
  text-align: center;

}

body {
  position: relative;  
  min-height: 100vh;   
}

/* .main img {
  width: auto;
  height: auto;
} */

.main div h2 {
  margin: 30px 0px;
  color: var(--blue-200);
  font-size: 44px;
  text-align: center;
}

.main div p {
  color: var(--blue-300);
  font-size: 20px;
  text-align: center;
  margin: 15px;
}
/* LINKS */
.links {
  margin: 40px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.links div {
  border: 1px solid var(--blue-900);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  
}
.links div a, .links div a:visited {
  text-decoration: none;
  color: var(--blue-900);
}

.links div:hover, .links a:hover {
  border-radius: 10px;
  background-color: var(--blue-300);
  color: var(--white);
}


/* CARDS */
.card-box {
  margin-top: 25px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
div.card {
  box-shadow: 5px 10px 8px var(--gray-500);
  border-radius: 5px;
  height: 15.625rem;
  width: 31.25rem;
}

.main div h2.card {
  color: var(--blue-300);
  font-size: 2.25rem;
}

.card h3 {
  background-color: var(--blue-300);
  color: var(--white);
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  height: 1.75rem;
  font-weight: 200;
  font-size: 1rem;
  padding-top: 0.375rem;
}

.cardDiv {
  margin-top: 3px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardDiv img {
  width: 200px;
  height: auto;
  border-radius: 0px 0 0 5px;
}
.cardDiv .card-left {
  width: 200px;
  height: 215px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.cardDiv .card-right {
  width: 300px;
  text-align: center;
}

.cardDiv .card-right h4 {
  margin: 10px 0px;
}


/* LUCKY BUTTON */
.main div .lucky h2 {
  margin-top: 70px;
  color: var(--blue-300);
  font-size: 36px;
}

.lucky button  {
  background-color: var(--blue-300);
  /* background-color: #007DFE; */
  color: var(--white);
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0px;
  font-size: 20px;
}

.lucky button a {
  text-decoration: none;
  color: var(--white);
  border: none;
}
.lucky button:hover {
  background-color: var(--blue-700);
  color: var(--white);
}

/* FOOTER */
footer {
  position: absolute; 
  bottom: 0;          
  width: 100%;        
  height: 6.5rem;     
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  background-color: var(--blue-300);
  color: var(--white);
  padding-top: 10px;

}
.footer a {
  text-decoration: none;
  color: var(--white);
}

.footer a:hover {
  background-color: var(--blue-300);
}
