* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body, input, textarea, button, div, a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/*MENU - NAV BAR*/
ul { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000257;
  width: 100%;
}
li { 
  float: left;
}
li a { 
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.menu a:hover:not(.active) {
  background-color: #05078d;
}

.active {
  background-color: #f7b605;
}

nav.menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
}


/* MAIN */
.main {
  margin: 10px 30px;
  padding-bottom: 6.5rem;

}

.mmain {
  margin: 10px 30px;
  text-align: center;
}

body {
  position: relative;  
  min-height: 100vh;   
}

/* QUIZ */
h1.quiz {
  color: var(--blue-200);
}

h3.quiz {
  color: rgb(181, 186, 190);
  margin-top: 20px;
}

p.quiz {
  font-size: 38px;
  color: rgb(41, 40, 40);
  margin: 20px 0px;
  text-align: center;
  background-color: aliceblue;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
form.quiz {
  margin-top: 40px;
}

input.quiz, label.quiz {
  font-size: 20px;
  margin: 10px 2px;
}
input.quiz {
  margin-left: 37%;
}

button.quiz {
  background-color: rgb(13, 91, 236);
  height: 40px;
  width: 80px;
  color: aliceblue;
  border-radius: 10px;
  border: none;
  margin: 20px;
  margin-left: 37%;
}
button.quiz:hover {
  background-color: rgb(3, 29, 77);
}

h2.quiz {
  text-align: center;
}

/* ALERT */

.alert {
  padding: 20px;
  background-color: #FCF8E3;
  color: #958154;
  width: 43%;
  display: inline;
  float: right;
  border-radius: 10px;
}

.closebtn {
  margin-left: 15px;
  color: #958154;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}


/* FOOTER */
footer {
  position: absolute; 
  bottom: 0;          
  width: 100%;        
  height: 6.5rem;     
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  background-color: #2D2E75;
  color: white;
  padding-top: 10px;

}
.footer a {
  text-decoration: none;
  color: white;
}

.footer a:hover {
  background-color: #2D2E75;
}


/* ***************************************** */

/* CARDS */
.card-box {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}
.card {
  box-shadow: 5px 10px 8px #888888;
  border-radius: 5px;
  height: 250px;
  width: 500px;
}

.card h3 {
  background-color: #2D2E75;
  color: white;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
  height: 27px;
  font-weight: 200;
  font-size: 15px;
  padding-top: 8px;
}

.cardDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardDiv img {
  width: 200px;
  height: 100%;
  border-radius: 0px 0 0 5px;
}
.cardDiv .card-left {
  width: 200px;
  height: 215px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.cardDiv .card-right {
  width: 300px;
  text-align: center;
}

.cardDiv .card-right h4 {
  margin: 10px 0px;
}